<%= form_with model: comment, url: url do |form| %>
  <% if comment.errors.any? %>
    <ul>
      <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <%= form.submit :submit, class: 'btn btn-danger' %>
<% end %>