<br><br>
<h1>Post List</h1>
<style>
    h1, p {
        text-align: center;
        margin: auto;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
  #postlist {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 55%;
    }

  #postlist td, #postlist th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

  #postlist tr:nth-child(even){background-color: #f2f2f2;}

  #postlist tr:hover {background-color: #ddd;}

  #postlist thead {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #326fa8;
        color: white;
    }
</style>


<!--<table class="table table-striped table-hover">-->

  <table id="postlist">
  <thead>
    <td>Title</td>
    <td>Content</td>
    <td>Action</td>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td>
        <%= link_to 'Show', post_path(post), class: 'btn btn-success'%>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn  btn-info'%>
        <%= button_to 'Delete', post_path(post), method: :delete, class: 'btn btn-danger'%>
      </td>
    </tr>
  <% end %>
</table>

<p>
<%= link_to 'New', new_post_path, class: 'btn btn-primary' %>
</p>